

body{

    background-color: #FFFFFF;
    overflow-x: hidden;
    
}

html{

    scroll-behavior: smooth;
    overflow-x: hidden;

}




@import "./global";
@import "../components/navbar/navbar.style";
@import "../components/introsection/introsection";
@import "../components/TeamMembers/TeamMembers";
@import "../components/Common/Common";
@import "../components/servicesOffered/servicessection";
@import "../components/Hire_us/hire";
@import "../components/Mission/Mission";