.mission {
  display: flex;
  align-items: center;
  gap: 5em;
  margin-left: 25em;
  margin-right: 25em;
}

@media screen and (max-width: 1024px) {
  .mission {
    margin: 0 2em;
    flex-direction: column;
    gap: 2em;
    padding: 0;
  }
}

.mission-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5em;
}

.mission-description h2 {
  color: #1d92ed;
  font-size: 3em;
  font-weight: 600;
}
.mission-description h3 {
  color: #222330;
  font-size: 3em;
  font-weight: 600;
}
.mission-description p {
  color: #222330;
  font-size: 1.6em;
}
.common-button {
  width: 140px;
  height: 45px;
  background: #1d92ed;
  padding: 0.5em;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.3em;
  cursor: pointer;
}
.common-button:hover {
  background: #0467fb;
}

@media screen and (max-width: 768px) {
  .common-button {
    width: 200px;
    height: 60px;
    font-size: 1.9em;
    padding: 0 10px;
  }
}

.vision {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20em;
  margin-left: 25em;
  margin-right: 25em;
}
.vision-top {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
.vision-bottom {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.vision-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  gap: 2.5em
}

.vision h2 {
  color: #1d92ed;
  font-size: 3em;
  font-weight: 600;
}

.vision-description h2 {
  color: #1d92ed;
  font-size: 3em;
  font-weight: 600;
}

.vision-description h3 {
  color: #222330;
  font-size: 3em;
  font-weight: 600;
}
.vision-description p {
  color: #222330;
  font-size: 1.6em;
}

.mission-img {
  max-width: 125%;
  max-height: 125%;
  object-fit: contain;
}

.mission-img-mobile {
  max-width: 85%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.vision-img {
  max-width: 170%;
  max-height: 170%;
  object-fit: contain;
}
.vision-img-mobile {
  max-width: 85%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .vision {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

@media screen and (max-width: 1024px) {
  * h2 {
    font-size: 3.2em;
  }
  * h3 {
    font-size: 3em;
  }
  * p {
    font-size: 2.5;
  }
}